body {
    background-image:url(../img/background/keith-misner-h0Vxgz5tyXA-unsplash.jpg);
}
.kutyaoldal{
    background-color:rgb(255, 255, 255, 0.4); 
    background-position: center;
    width: 70%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #4d0808;
}
a {
    color: #4d0808;
}
.nemet {
text-align: center;
}
p {
    line-height: 1.5;
    text-indent: 1cm;
}
.minikep{
float: right;
width: 400px;
margin-left: 20px;
border: 3px solid #4d0808;
}
table, th, td{
    border: 1px solid #aa7777;
    padding: 0.5rem;
    border-collapse: collapse;
    align-self: center;
}
.kepek{
    text-align: center;
    float: none;
}
.kep{
    width: 280px;
  vertical-align: middle;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border: 1px solid #4d0808;
  box-shadow: 3px 3px 10px #4d0808;
}